@font-face{
	font-family: IranSans;
	src: url(fonts/IRAN-Sans.ttf);
}
@font-face{
	font-family: BKamran;
	src: url(fonts/BKamrn.ttf);
}
     
body, main, aside, section, div, p, a, span, ul, li{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
body{
	background:#333333 url(images/page_bg.png);
	font: 500 12px/26px IranSans;
	color:#6a6969;
}
.header{
	width: 100%;
}
.header{
		line-height: 1;
		border-bottom: 1px solid #D8D8D8;
		background-color: #f6f6f6;
}

.wrapper{
	width: 100%;
	margin:0 auto;
	max-width: 1280px;
	direction: rtl;
}


a {text-decoration:none; color:#6a6969; position:relative;}
a:hover {color:#979797;}
.brdr{
	border:1px solid black;
}
nav{
	background-color: #f6f6f6;
	border: 1px solid #f6f6f6;
}

/**********/
/* Colors */
/*********/

/**********/
/* Cols */
/*********/
.col14{
	width: 30%;
}
.col34{
	position: relative;
	width: 74.5%;
}

/**********/
/* Block */
/*********/
.ib{
	display: inline-block;
}
.b{
	display: block;
}
.ml10{
	margin-left: 50px;
}
.mr15{
	margin-right: 15px;
}
/**********/
/* Positioning */
/*********/
.clear{
	clear:both;
}
.flt-r{
	float: right;
}

.flt-l{
	float: left;
}

.size12{
	font-size: 10px;
}

.col12{
	width: 48%;
	margin: 1%;
}
.col13{
	width: 32%;
	margin-left: 2%;
}
.col14{
	width:23%;
	margin:2%;
}

.pd-l-15{
	padding-left:14px;
}

.cf:before, .cf:after{
      content:"";
      display:table;
    }
    
.cf:after{
	clear:both;
}

.cf{
	zoom:1;
}

.form-wrapper {
	width: 100%;
	padding: 15px;
	margin: 20px 0 30px 0;
	background: #444;
	background: rgba(0,0,0,.06);
}

.form-wrapper input {
	height: 80%;
	width:100%;
	display: inline-block;
	padding: 10px 5px;
	font: normal 17px/20px IranSans;
	float: right;
	border: 0;
	background: #eee;
	-moz-border-radius: 3px 0 0 3px;
	-webkit-border-radius: 3px 0 0 3px;
	border-radius: 3px 3px 3px 3px;      
}

.form-wrapper input:focus {
	outline: 0;
	background: #fff;
	-moz-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
	-webkit-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
	box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}

.form-wrapper input::-webkit-input-placeholder {
	 color: #999;
	 font-weight: normal;
	 font-style: italic;
}

.form-wrapper input:-moz-placeholder {
	color: #999;
	ma
	font-weight: normal;
	font-style: italic;
}

.form-wrapper input:-ms-input-placeholder {
	color: #999;
	font-weight: normal;
	font-style: italic;
}    

.form-wrapper .button {
	border: 0;
	padding: 0;
	cursor: pointer;
	height: 80%;
	width: 100%;
	font: bold 17px/41px IranSans;
	color: #fff;
	background: #d83c3c;
	-moz-border-radius: 0 3px 3px 0;
	-webkit-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;      
	text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}   
	
.form-wrapper .button:hover{		
		background: #e54040;
}	
	
.form-wrapper .button:active,
.form-wrapper .button:focus{  
		background: #c42f2f;    
}

.form-wrapper .button:before {
	content: '';
	position: absolute;
	top: 12px;
	right: -7px;
	height: 0; 
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-left: 8px solid #d83c3c;
}

.form-wrapper .button:hover:before{
		border-right-color: #e54040;
}

.form-wrapper .button:focus:before{
		border-right-color: #c42f2f;
}    

.form-wrapper .button::-moz-focus-inner {
		border: 0;
		padding: 0;
}

.logo{
	margin: 150px 0 0 0;
}

.logo-title{
	color: #e54040;
	font-weight: bold;
	font-size: 40px;
	bottom:0;
	text-shadow: 2px 2px 4px rgba(150, 150, 150, 1);
}
.logo-desc{
	font-size: 15px;
	text-shadow: 2px 2px 4px rgba(150, 150, 150, 1);	
}
hr.devider1{
   border-top: 1px solid #8c8b8b;
	margin-top: -30px;
}


@media only screen and (max-width: 880px) {
    /* For mobile phones: */
    #inp1,#inp2{
		width: 100%;
		margin: 6px 0 20px 0;
	 }
	 #mob{
		 margin-left: 23px;
	 }
	 #sbmb{
		 width: 96%;
		 margin-right: 15px;
	 }
	 #mobWidth{
		 width: 100% important;
	 }
}